





*{
    margin: 0px;
    padding: 0px;
}

body
{
    background: #75C9B7;
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
}

#container
{
    width: 1100px;
    margin: 0px auto;
}

header
{
    background: #322E2F;
    height: 250px;
    width: 1100px;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: #C7DDCC;
}

nav
{
    background: #C7DDCC;
    height: 100px;
    margin-top: 40px;
}


a
{
    font-size: 30px;
    color: #322E2F;
    text-decoration: none;
    margin: 30px 63px;
    display: inline-block;
}


a:hover
{
    text-decoration: underline;
}


nav ul li
{
    float: left;
    list-style: none;
    line-height:35px;
    text-align: center;
}


.clearfix
{
    clear: both;
}
#content
{
    float: left;
    background: #12A4D9;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    min-height: 600px;
    margin-top: 20px;
    color: black;
}

aside
{
    float: left;
    width: 20%;
    background: #D9138A;
    margin-top: 20px;
    min-height: 500px;
    color: black;
    
}


footer
{
    background: #E2D810;
    color: black;
    text-align: center;
    height: 50px;
    line-height: 50px;
}


input
{
    padding: 5px 15px;
    font-size: large;
}