span{
    color: red;
}

body{
    background-color: blueviolet;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/faec001c-786e-4e65-bddc-251cf7f7edb3/dfi1xzm-494d362e-e14c-4331-8b61-f1adc7d591ff.png/v1/fill/w_811,h_986/karely_ruiz_3_by_adnfnc_dfi1xzm-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA5MSIsInBhdGgiOiJcL2ZcL2ZhZWMwMDFjLTc4NmUtNGU2NS1iZGRjLTI1MWNmN2Y3ZWRiM1wvZGZpMXh6bS00OTRkMzYyZS1lMTRjLTQzMzEtOGI2MS1mMWFkYzdkNTkxZmYucG5nIiwid2lkdGgiOiI8PTg5NyJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.rfyJKBYIhUFGOxjf0pQfzn7_ThKa7AXCJM7CIm-h8Ao);
        
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: 465px 300px;
}

h1{
    color: white;
    font-size: 100pt;
    text-align: center;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}